
@import url(/node_modules/bootstrap/scss/bootstrap.scss);

$padding-min-extra: 0.313rem;
$padding-min: 0.625rem;

// section padding & margin
$padding-section: 6.25rem;
$padding-section-title: 3.125rem;

$space-sec-top: 5.7rem;

$space-sec-xm: 1.5rem;
$space-sec-sm: 2rem;
$space-sec-md: 3rem;
$space-sec-lg: 4rem;
$space-sec-xl: 5rem;
$space-sec-xxl: 6rem;

$space-title-xm: .75rem;
$space-title-sm: 1rem;
$space-title-md: 1.5rem;
$space-title-lg: 2rem;
$space-title-xl: 2.5rem;
$space-title-xxl: 3rem;


//margin
$margin-min: 0.625rem;


