@use "../partials/index" as *;
@use "../base/index" as *;


body{
    // background-color: $bg-color;
    .user-profile{
        padding-top: 8.5rem;
        padding-bottom: 5rem;
        background-color: $bg-color;
        height:100vh;
        //order history page css
        .order-history{
            .cart-list{
                .btn{
                    background-color: lighten($primary-color, 30);
                    transition: .3s;
                    &:hover{
                        background-color: $primary-color;
                        color: $color-light;
                    }
                }
            }
        }
        
        // wishlist page css
        .wishlist{
            .product-list{
                .product-card{
                    .card{
                        .remove-btn{
                            color: $primary-color;
                            background-color: lighten($color: $primary-color, $amount: 30);
                            i{padding: .5rem}
                            right: .5rem;
                            top: .5rem;
                            display: none !important;
                            transition: .3s;
                            &:hover{
                                color: $color-light;
                                background-color: $primary-color;
                            }
                        }
                        transition: .3s;
                        &:hover{
                            .remove-btn{
                                display: initial !important;
                            }
                        }
                    }
                }
            }
        }
        // profile setting page css
        .user-setting{
            .profile-detail{
                h5{
                    padding: 1rem;
                    background-color: lighten($color: $secondary-color, $amount: 82);
                }
            }
        }
        
    }

    
    
}

.profile-setting{
    height: fit-content !important;
    background-color: $bg-color;
}

.order-detail{
    background-color: $bg-color;
    position: absolute;
    top: 0;
    // left: 120px;
    width: 100vw;
    height: 100vh;

    display: none;
    .active{
        display: block;
    }
    .order-sum{
        margin-top: 10rem;
        width: 100%;
        
    }
}


// media start

@media (max-width: 596px){
    .sidebar{
        width: 180px !important;
        .user-photo{
            img{
                width: 5rem;
                height: 5rem ;
                border: 3px solid $color-light !important;
            }
        }
        .nav-item{
            padding-left: 1rem !important;
            font-size: .75rem !important;
        }
    }
    .user-profile{
        .wishlist{
            .button{
                font-size: .75rem !important;
            }
        }
    }
}



@media (max-width: 1200px){
    .sidebar{
        .nav-item{
            // font-size: .85rem !important;
        }
    }
    
}

@media (max-width: 1400px){
    
    .user-profile{
        .wishlist{
            .button{
                font-size: .85rem;
            }
        }
    }
}


///////////////////////////////////

  @media (min-width: 991.98px) {
    .user-profile, .order-detail {
      padding-left: 240px;
    }
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0  0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    height: 100vh !important;
    background-color: $primary-color !important;
    .user-photo{
        width: 10rem;
        height: 10rem;
        color: $color-light;
        img{
            border: 5px solid $color-light;
        }
    }
    .nav-item{
        color: $color-light;
        padding-left: 2rem;
        transition: .3s;
        margin-top: .3rem;
        &:hover{
            background-color: lighten($color: $primary-color, $amount: 5);
        }
    }
  }
  
 
  .sidebar .active {
    // border-radius: 5px;
    background-color: lighten($color: $primary-color, $amount: 3);
    // box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    // position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }